body {
	background: #0034;
}

h1 {
	color: #F83B12;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
}

header.major {
	color: #F83B12;
	font-family: "Open Sans", sans-serif;
	font-size: 23px;
}

h2 {
	color: #F83B12;
	font-family: "Open Sans", sans-serif;
	font-size: 50px;
}
